<h1>お問い合わせ一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>名前</th>
    <th>メールアドレス</th>
    <th>お問い合わせ内容</th>
  </tr>
<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.content %></td>
  </tr>
<% end %>
</table>
<%= link_to 'お問い合わせはこちら', new_contact_path %>
